/* ------------- PARTIAL IMPORTS ------------- */
// @use "./colors" as *;

/* ------------- MIXIN FOR PADDING ------------- */
// Small Devices
@mixin small-padding {
  padding: 0 1rem;
}
// Medium Devices
@mixin medium-padding {
  padding: 0 3rem;
}
// Large Devices
@mixin large-padding {
  padding: 0 5rem;
}

/* ------------- MIXIN FOR BUTTON STYLING ------------- */
// Primary Button
@mixin btn-primary {
  color: $primary-light;
  background-color: $primary-semi-light;
  border: 1px solid $primary-semi-light;
  border-radius: 1.25rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
// Primary Button Hover
@mixin btn-primary-hover {
  background-color: $background-dark;
  border: 1px solid $background-dark;
}
// Primary Button Mobile
@mixin btn-primary-mobile {
  color: $primary-light;
  background-color: $primary-semi-light;
  border: 1px solid $primary-semi-light;
  border-radius: 1.25rem;
  transition: 0.3s ease;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
// Secondary Button
@mixin btn-secondary {
  color: $secondary-dark;
  border: 1px solid $secondary-light;
  background-color: $primary-light;
  border-radius: 1.25rem;
  transition: 0.3s ease;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
// Secondary Button Hover
@mixin btn-secondary-hover {
  color: $primary-semi-light;
  border: 1px solid $primary-semi-light;
}
// Secondary Button Mobile
@mixin btn-secondary-mobile {
  color: $secondary-dark;
  border: 1px solid $secondary-light;
  background-color: $primary-light;
  border-radius: 1.25rem;
  transition: 0.3s ease;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
// Delete Button
@mixin delete-primary {
  color: $primary-light;
  background-color: $supporting-semi-light;
  border: 1px solid $supporting-semi-light;
  border-radius: 1.25rem;
  transition: 0.3s ease;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
// Delete Button Hover
@mixin delete-primary-hover {
  background-color: $background-dark;
  border: 1px solid $background-dark;
}
// Delete Button Mobile
@mixin delete-primary-mobile {
  color: $primary-light;
  background-color: $supporting-semi-light;
  border: 1px solid $supporting-semi-light;
  border-radius: 1.25rem;
  transition: 0.3s ease;
  padding: 0.75rem 3rem;
  cursor: pointer;
}
/* ------------- MIXIN FOR LABEL STYLING ------------- */
// in stock items
@mixin inStock {
  color: $supporting-light;
  background-color: rgba(21, 132, 99, 0.1);
  border-radius: 1.25rem;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
}
// out of stock items
@mixin outOfStock {
  color: $supporting-semi-light;
  background-color: rgba(201, 69, 21, 0.1);
  border-radius: 1.25rem;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
}
/* ------------- MIXIN FOR FORM FIELDS ------------- */
// small form field
@mixin formMobile {
  height: 2rem;
  border-radius: 1.25rem;
  color: $secondary-dark;
  border: 1px solid $secondary-light;
  background-color: $primary-light;
  width: 100%;
  margin-top: 0.25rem;
  padding: 1.2rem 1rem;
}
// tablet/desktop form
@mixin form {
  height: 2.375rem;
}
/* ------------- MIXIN FOR SVG COLOR CHANGES ------------- */
@mixin dropDownIcon {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='%235C667E'/%3E%3C/svg%3E%0A");
}

@mixin dropDownIconOnHover {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10H7Z' fill='%232E66E5'/%3E%3C/svg%3E%0A");
}
